header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 400px;
  width: 50%;
  background-color: #ed9909;
  background-image: url(../images/clean-gray-paper.png);
  margin-top: 100px;
}
.avatar-header {
  width: 60%;
  align-self: center;
}
.name {
  align-self: center;
  color: #ffffff;
}
.main-outer-container {
  display: flex;
  justify-content: space-around;
  column-gap: 4em;
  padding-top: 5em;
  padding: 5em 1.5em 0 1.5em;
}
