nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  z-index: 1;
}

.logo {
  font-family: "Bungee";
  /* align-self: center; */
}
h4 {
  align-self: center;
}
/* .fas {
  /* float: right; */
/* } */
