#nav-bar {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 0 1.5em;
}

.logo {
  font-family: "Bungee";
}

.nav-new-tweet {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  font-family: "Source Sans Pro", sans-serif;
}
.nav-new-tweet span {
  font-weight: 300;
}

.fa-angle-double-down {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  padding-right: 4.5em;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-40px);
  }
}

@media only screen and (max-width: 1024px) {
  /* Write Tablet only CSS here */
  #nav-bar {
    background-color: #ed9909;
    background-image: url(../images/clean-gray-paper.png);
  }
}
